* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
$mainColor: #f94f4f;
$secondaryColor: #191921;
$blackColor: black;
$whiteColor: white;
html {
  font-size: 10px;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
body {
  font-family: "Nunito Sans";
  overflow-x: hidden;
}
.primaryBtn {
  border: 0.1rem solid transparent;
  padding: 0.5rem 3rem;
  background-color: $mainColor;
  color: $whiteColor;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 1rem;
  transition: all 0.3s ease;
  font-weight: 700;
}
.primaryBtn:hover {
  border: 0.1rem solid $mainColor;
  background-color: transparent;
  color: $mainColor;
}

.secondaryBtn {
  border: none;
  background-color: transparent;
  color: $mainColor;
  font-weight: 800;
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid $mainColor;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.secondaryBtn:hover {
  border-bottom: 0.5rem solid transparent;
}
/* START nav */
.customNav {
  .nav__left {
    .logo h3 {
      font-weight: 900;
    }
  }

  .nav__right {
    padding: 6rem 0;
    background-color: $mainColor;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: 5rem;
        a:link,
        a:visited {
          text-decoration: none;
          color: $whiteColor;
          font-size: 1.8rem;
          transition: all 0.3s ease;
        }
        a:hover,
        a:active {
          color: $blackColor;
        }
      }
    }
  }
}
/* END nav */
/* START HEADER */
.header {
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem !important;

    &-txt {
      h1 {
        font-size: 7.5rem;
        font-weight: 900;
        margin-bottom: 4rem;
        line-height: 1;
      }
      p {
        text-transform: capitalize;
        margin-bottom: 3rem;
        font-weight: 600;
        width: 40rem;
      }
    }
  }
  &__right {
    img {
      height: 80vh;
      object-fit: cover;
      object-position: left;
    }
  }
}
/* END HEADER */
/* START DESIGN SECITON */
.design {
  background-color: $secondaryColor;
  &__left {
    img {
      height: 90vh;
      width: 100%;
      object-fit: cover;
    }
  }
  &__right {
    padding-top: 8rem;
    color: $whiteColor;
    &-txt {
      padding-left: 6rem;
      h2 {
        font-size: 6rem;
        line-height: 1;
        font-weight: 800;
        margin-bottom: 3rem;
      }
      p {
        font-weight: 600;
        margin-bottom: 3rem;
      }
    }
  }
}
/* END DESIGN SECITON */
/* START APPROACH SECITON */
.approach {
  &__left {
    position: relative;
    &-txt {
      position: absolute;
      top: 30%;
      left: 60%;
      width: 40rem;
      h2 {
        font-weight: 800;
        font-size: 5.5rem;
      }
    }
  }
  &__right {
    height: 100rem;
    background-color: $mainColor;
    margin-top: -15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: $whiteColor;
    &-box {
      width: 50rem;
      margin-bottom: 8rem;
      position: relative;
      .box__number {
        position: absolute;
        font-size: 7rem;
        font-weight: 900;
        opacity: 0.3;
        top: -40%;
        left: -5%;
        z-index: 0;
      }
      h4 {
        font-size: 1.9rem;
        position: relative;
        z-index: 2;
        font-weight: 900;
        margin-bottom: 4rem;
      }
      p {
        font-weight: 600;
        opacity: 0.75;
      }
    }
    &-box:last-child {
      margin-bottom: 0;
    }
  }
}
/* END APPROACH SECITON */
/* START BRAND SECTION */
.brand {
  background-color: $whiteColor;
  &__left {
    position: relative;
    &-txt {
      position: absolute;
      background-color: $secondaryColor;
      color: $whiteColor;
      height: 40rem;
      width: 120%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-left: 10rem;

      .txt__text {
        font-weight: 900;
        font-size: 4.8rem;
        line-height: 1;
        margin-bottom: 2rem;
        transition: all 0.3s ease;
        padding-right: 3rem;
      }

      .txt__left,
      .txt__right {
        padding: 1rem;
        background-color: transparent;
        color: $mainColor;
        font-weight: bold;
        font-size: 1.5rem;
        border: 0.1rem solid $mainColor;
        margin-right: 1rem;
        transition: 0.3s all ease;
      }
      .txt__left:hover,
      .txt__right:hover {
        color: $whiteColor;
        border: 0.1rem solid $whiteColor;
      }
    }
  }
  &__right {
    img {
      height: 70rem;
      width: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }
  }
}
/* END BRAND SECTION */
